
button.back{
    margin: 25px;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
textarea,.txt{
    width: 75%;
    border-radius: 7px;
    background-color: #1c1c28;
    border-color: white;
    color: white;
    padding: 15px;
    font-size:2rem;
}
