button.back {
    margin: 25px;
}

.container {
    width: 97%;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);

    textarea {
        grid-column: 8 / 8;
        grid-row: 2 / 6;
    }

    .start_btn {
        grid-column: 8 / 8;
        grid-row: 1/ 2;
    }

    .cmd-box {
        grid-column: 1 / 7;
        grid-row: 1/ 3;
    }
    .failed_cases{
        grid-column: 1 / 7;
        grid-row: 3/ 4;
    }
}

.failed_cases{
    color: white;
    width: 95%;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
    .case{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 4px;
        padding: 7px 10px;
        border: 1px solid red;
        border-radius: 5px;
        height: 65px;
        mat-icon{
            color: white;
            cursor: pointer;
            margin: 0 5px;
            &:active{
                color: lightblue;
            }
        }
        button{
            border-radius: 0;
            color: white;
            background-color: dodgerblue;
        }
        .src{
            display: inherit;
        }

    }
}


textarea {
    border-radius: 7px;
    background-color: #1c1c28;
    border-color: white;
    color: white;
    padding: 15px;
    font-size: 2rem;
    min-width: 120px;
    width: 150px;
    min-height: 75%;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
        border: 2px solid #f1f1f1;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.cmd-box {
    background: #000;
    color: #0f0;
    width: 95%;
    font-family: monospace;
    padding: 12px;
    border-radius: 6px;
    height: 300px; // or whatever you want
    overflow-y: auto;
    white-space: pre-wrap; // show multiline
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;

    .line {
        line-height: 1.4;
        font-size: 2rem;
    }
}