<div class="container">
    <div class="action">
        <!-- <button>Add new Patient</button> -->
        <!-- <button>Close</button> -->
    </div>
    <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
        <!-- Basic Info -->
        <div>
            <label>Name:</label>
            <input name="name" [(ngModel)]="patient().name" required />
            <label>Day:</label>
            <input name="day" type="number" [(ngModel)]="patient().date.day" required />
            <label>Month:</label>
            <input name="month" type="number" [(ngModel)]="patient().date.month" required />
        </div>
        <div>
            <label>output path</label>
            <input name="output" [(ngModel)]="patient().out"  />
        </div>
        <!-- STL Files -->
        <div class="form-array-group">
            <h3>STL Files</h3>

            @for (file of patient().STL_File_LIST; track $index) {
                <div class="file-entry">
                    <input [(ngModel)]="file.name" name="stl-name-{{ $index }}" placeholder="File Name" />
                    <select disabled [(ngModel)]="file.zipping" name="stl-zip-{{ $index }}">
                        <option value="not_found">Not Found</option>
                        <option value="pending">Pending</option>
                        <option value="finished">Finished</option>
                    </select>
                    <button type="button" (click)="removeFile(patient().STL_File_LIST, $index)">Remove</button>
                </div>
            }

            <button type="button" (click)="addFile(patient().STL_File_LIST)">Add STL File</button>
        </div>

        <!-- DICOM Files -->
        <div class="form-array-group">
            <h3>DICOM Files</h3>

            @for (file of patient().DICOM_FILE_LIST; track $index) {
            <div class="file-entry">
                <input [(ngModel)]="file.name" name="dicom-name-{{ $index }}" placeholder="File Name" />
                <select disabled [(ngModel)]="file.zipping" name="dicom-zip-{{ $index }}">
                    <option value="not_found">Not Found</option>
                    <option value="pending">Pending</option>
                    <option value="finished">Finished</option>
                </select>
                <button type="button" (click)="removeFile(patient().DICOM_FILE_LIST, $index)">Remove</button>
            </div>
            }

            <button type="button" (click)="addFile(patient().DICOM_FILE_LIST)">Add DICOM File</button>
        </div>

        <!-- Extra Notes -->
        <div class="form-array-group">
            <h3>Extra</h3>

            @for (note of patient().extra; track $index) {
                <div class="file-entry">
                    <input [(ngModel)]="patient().extra![$index].name" name="extra-{{ $index }}" placeholder="Extra Info" />
                    <select [(ngModel)]="note.target" name="extra-zip-{{ $index }}">
                        <option value="stl">STL</option>
                        <option value="dicom">DICOM</option>
                    </select>
                    <button type="button" (click)="removeExtra($index)">Remove</button>
                </div>
            }

            <button type="button" (click)="addExtra()">Add Extra</button>
        </div>
        <div class="btn">
            <mat-icon (click)="clear()">cancel</mat-icon>
            <br>
            <br>
            @if(this.mode  == 'add'){
                <button type="submit">Submit</button>
            }@else{
                <mat-icon (click)="updateP(patient())">update</mat-icon>
            }
        </div>
    </form>

    <div class="patient_list">
        @for(patient of PatientList(); track $index){
        <div class="patient">
            <div class="patient_meta">
                <h1>{{patient.name}}</h1>
                <p>{{patient?.date?.day + '/' + patient?.date?.month}}</p>
            </div>
            <div class="patient_action">
                <mat-icon class="stt" (click)="loadPatient(patient)">edit</mat-icon>
                <mat-icon class="stt" (click)="deletePatient(patient.ID)">delete</mat-icon>
            </div>
            <div class="patient_STL">
                <h5>STLs:</h5>
                @for(name of patient.DICOM_FILE_LIST; track $index){
                <div [ngClass]="{
                        'not_found': name.zipping === 'not_found',
                        'pending': name.zipping === 'pending',
                        'finished': name.zipping === 'finished',
                        'flex':true
                        }">{{name.name}} <mat-icon (click)="copy(name.name)">content_copy</mat-icon> </div>
                }
            </div>
            <div class="patient_DICOM">
                <h5>DICOMs:</h5>
                @for(name of patient.STL_File_LIST; track $index){
                <div [ngClass]="{
                        'not_found': name.zipping === 'not_found',
                        'pending': name.zipping === 'pending',
                        'finished': name.zipping === 'finished',
                        'flex':true
                        }">{{name.name}} <mat-icon (click)="copy(name.name)">content_copy</mat-icon> </div>
                }
            </div>
            <div class="patient_EXTRA">
                <h5>Path:</h5>
                @if(patient.extra){
                    @for(name of patient.extra; track $index){
                        <div [ngClass]="{
                        'not_found': name.zipping === 'not_found',
                        'pending': name.zipping === 'pending',
                        'finished': name.zipping === 'finished',
                        'flex':true
                        }">{{name.name}} <mat-icon (click)="copy(name.name)">content_copy</mat-icon> </div>
                    }
                }
            </div>
        </div>
        }
    </div>
</div>