
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

}
:root {
  @include mat.tabs-overrides((
    background-color: #000, // your dark background
    foreground-color: #fff,
    divider-color: #444,

    active-indicator-color: #00bcd4,
    active-label-text-color: #fff,
    active-hover-label-text-color: #fff,
    active-focus-label-text-color: #fff,
    active-focus-indicator-color: #00bcd4,

    inactive-label-text-color: #aaa,
    inactive-hover-label-text-color: #fff,
    inactive-focus-label-text-color: #fff,

    // 👇 override ripple & hover ink
    inactive-ripple-color: rgba(255,255,255,0.2),
    active-ripple-color: rgba(255,255,255,0.2),
    disabled-ripple-color: rgba(255,255,255,0.1),

    // optional: add a hint color for pagination arrows if visible
    pagination-icon-color: #fff,
    label-text-weight: 600
  ));
}
body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;
  background-color: #1c1c28;
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  // background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
