<button  class="back" mat-flat-button routerLink="/pathology">
  Back
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="directory">

    <div class="actions button-bar">
        <div class="right-side">
            <div class="path_container">
                <div class="path-bar">
                    @for (part of paths; track $index) {
                        <a (click)="goTo($index)">{{ part }}</a>
                        @if ($index < paths.length - 1) { 
                            <span>\</span>
                        }
                    }
                </div>
                <mat-icon (click)="copy(paths.join('\\'))">content_copy</mat-icon>
                <mat-icon (click)="transferPathology()" class="send">send</mat-icon>
            </div>
        </div>
        <div class="center-side">
            <div class="hot-links">
                <span class="hot-links-label">Quick Access:</span>
                @for (link of hotLinks(); track link.name) {
                    <a class="hot-link" [class.active]="link.path === paths[0]" (click)="newDir(link.path)">
                        <mat-icon>{{ link.icon }}</mat-icon>
                        {{ link.name }}
                    </a>
                }
            </div>
        </div>
        <div class="left-side">
            <input type="text" placeholder="Search (regex)" [(ngModel)]="searchQuery" />
            @if(searchQuery){
                <span class="clear-icon" (click)="searchQuery = ''">×</span>
            }
            <button [disabled]="paths.length <= 1" mat-flat-button color="primary" (click)="backDir()">
                <mat-icon>arrow_back</mat-icon> Back
            </button>
        </div>
    </div>

    <!-- File list -->
    <ul class="file-list">
        @for (item of filteredList(); track $index) {
        <li 
        class="file-row" 
        [class.active]="selectedFortransfer.has(paths.join('\\')+'\\'+item.path)" 
        [class.transfered]="transferDone.has(paths.join('\\')+'\\'+item.path)" 
        >
            <div class="file-info"  >
                @if(destDirr !== paths[0]){
                    <mat-checkbox 
                    [(ngModel)]="item.selected"
                    (click)="selectFn(item.path, item.selected, $index, $event)"
                    ></mat-checkbox>
                }
                
                <mat-icon 
                (dblclick)="nav(item.path)" 
                 class="file-icon">
                    {{ isFolder(item.path) ? 'folder' : 'description' }}
                </mat-icon>
                <span (dblclick)="nav(item.path)" class="file-name">{{ item.path }}</span>
            </div>
            <div class="icc_list">
                @if(!isFolder(item.path)){
                    <mat-icon class="icc" (click)="cpWithQ(paths.join('\\')+'\\'+item.path)">content_copy</mat-icon>
                    <mat-icon class="icc" (click)="runFile(paths.join('\\')+'\\'+item.path)">play_arrow</mat-icon>
                    <mat-icon class="icc" (click)="openInExplorer(paths.join('\\'))">folder_open</mat-icon>
                }
                @if(isFolder(item.path)){
                    <mat-icon class="icc" (click)="copy(paths.join('\\')+'\\'+item.path)">content_copy</mat-icon>
                    <mat-icon class="icc" (click)="openInExplorer(paths.join('\\')+'\\'+item.path)">folder_open</mat-icon>
                }
            </div>
        </li>
        }
    </ul>
</div>
